@use '../abstracts/variables';

body {
  min-height: 100vh;
  color: variables.$color-grey-500;
  font-family: variables.$font-family-base;
  font-weight: variables.$font-weight-medium;
  font-size: variables.$font-size-base;
  line-height: 1.4;
  background-color: variables.$color-grey-200;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1.5rem;
}
